{{- template "web/html/layouts/main.tmpl.html" . -}}

{{- define "javascripts" -}}
{{- end -}}

{{- define "stylesheets" -}}
{{- end -}}

{{- define "body_style" -}}bg-[#222222] bg-no-repeat bg-gradient-to-br
min-h-screen{{- end -}}

{{- define "content" -}}
{{- template "web/html/_nav.tmpl.html" . -}}

<div id="main-div">
    {{block "article_content" .}}{{end}}
</div>
<div id="search-results" class="hidden text-white p-4"></div>
<div id="dummy" class="hidden text-gray-400 pb-2 pt-2 pb-1 text-myblue text-xl border-b-[1px] border-b-myblue font-semibold hover:border-b-sky-600 hover:text-sky-600 text-green-500 text-sm pb-1 text-gray-200 text-sm text-center bg-gray-600 rounded-md px-[5px] py-[2px] ml-1 font-extrabold pb-1 py-1 relative absolute w-full h-full pb-[56.25%] h-0 overflow-hidden top-0 left-0 border-0 bg-myblue mb-3 mr-4"></div>
{{- end -}}
