{{- template "web/html/layouts/main.tmpl.html" . -}}

{{- define "javascripts" -}}
{{- end -}}

{{- define "stylesheets" -}}
{{- end -}}

{{- define "body_style" -}}bg-[#222222] bg-no-repeat bg-gradient-to-br
min-h-screen{{- end -}}

{{- define "content" -}}
{{- template "web/html/_nav.tmpl.html" . -}}

<div id="main-div">
    {{block "article_content" .}}{{end}}
</div>
<div id="search-results" class="text-white p-4"></div>
<div id="dummy" class="hidden text-gray-400 pb-2 py-2 text-myblue text-xl border-b-[1px] border-b-myblue font-semibold hover:border-b-sky-500 hover:text-sky-500 text-green-500 text-sm pb-1 text-gray-200 text-sm"></div>
{{- end -}}
