{{- template "web/html/layouts/main.tmpl.html" . -}}

{{- define "javascripts" -}}
{{- end -}}

{{- define "stylesheets" -}}
{{- end -}}

{{- define "body_style" -}}bg-[#222222] bg-no-repeat bg-gradient-to-br
min-h-screen{{- end -}}

{{- define "content" -}}
{{- template "web/html/_nav.tmpl.html" . -}}

<div id="main-div">
    <div id="search-results" class="text-white p-4"><!----><!--?lit$567547936$-->
        <div class="text-gray-400 pb-2"><!--?lit$567547936$-->1 results for "hey"</div>
        <div class="sr-items"><!--?lit$567547936$--><!---->
            <div class="sr-item">
                <div class="py-2">
                    <a class="text-myblue text-xl border-b-[1px] border-b-myblue font-semibold hover:border-b-sky-500 hover:text-sky-500"
                        rel="noopener noreferrer"
                        href="hey"><!--?lit$567547936$--><!--?lit$567547936$--><!----><!--?lit$567547936$-->Ballin' like a
                        baller<!--?--><!----><!--?--></a></div>
                <div class="text-gray-200 text-sm"><!--?lit$567547936$--><!--?lit$567547936$--><!----><!--?lit$567547936$-->Author's
                    note: Paul is known to ball really hard, beware. --- This is inline code according to markdown This is
                    my first [1] footnote. What does it do? ## Markdown without caption (#no-cap) ## Caption (#cap) Markdown
                    Some friggin' cute puppies ## Back to no caption (#no-cap) ## And finally caption (#cap) me being a
                    baller screenshot of stuff [1]
                    <!--?--><!----><!----><b class="text-lg"><!--?lit$567547936$-->Hey</b><!----><!----><!--?lit$567547936$--> what's
                    up...<!--?--><!----><!--?--></div>
            </div><!---->
        </div><!--?-->
    </div>
    {{block "article_content" .}}{{end}}
</div>
<div id="search-results" class="text-white p-4"></div>
<div id="dummy" class="hidden text-gray-400 pb-2 py-2 text-myblue text-xl border-b-[1px] border-b-myblue font-semibold hover:border-b-sky-500 hover:text-sky-500 text-green-500 text-sm py-1 text-gray-200 text-sm"></div>
{{- end -}}
