{{- template "layouts/article.tmpl.html" . -}}

{{- define "title" -}}Home{{.TitleSuffix}}{{- end -}}

{{- define "article_content" -}}

<div class="">
    <div class="border-b px-12 py-20 dark:border-slate-700">
        <div class="mx-auto
            prose prose-lg dark:prose-invert
            prose-a:border-b prose-a:border-slate-500 prose-a:font-bold prose-a:font-sans prose-a:no-underline
            hover:prose-a:border-slate-200
            ">
            <p class="font-semibold italic leading-snug max-w-[725px] mx-auto
                      prose-a:border-b-4 prose-a:border-proseLinks dark:prose-a:border-proseInvertLinks
                      text-center text-[2.5rem]
                      tracking-tight
                      ">
                I'm <a href="https://www.linkedin.com/in/paul-alonso-johnston/" rel="me">Paul</a>, a software engineer.</p>
            <p class="font-medium leading-relaxed text-[1rem]">Ballin'</p>
        </div>
    </div>

    <div class="border-b px-12 py-20 dark:border-slate-700 md:px-20 lg:px-28">
        <div class="hyphens-auto max-w-none
            prose prose-md dark:prose-invert
            prose-a:border-b prose-a:border-slate-500 prose-a:font-sans prose-a:leading-tight prose-a:no-underline prose-a:text-[0.92rem]
            hover:prose-a:border-b-slate-200
            prose-li:my-[1.2em] prose-li:pl-0.5
            prose-strong:font-sans
            prose-ul:font-serif prose-ul:leading-normal prose-ul:pl-5
            ">
            <div class="flex flex-col gap-4 justify-center md:flex-row md:gap-10 lg:gap-16">
                <div class="flex-1 flex-grow pb-12 md:pb-0 lg:max-w-[21rem]">
                    <p class="font-serif mt-0 text-[0.9rem]">Once in a while, I write longer form <a
                            href="/articles">articles</a> on technical subjects like APIs, Go, or Postgres:</p>
                    <ul class="mb-0">
                        {{range .Articles}}
                        <li class="last:mb-0">
                            <a href="/{{.Slug}}">{{.Title}}</a>
                            <span
                                class="font-sans italic pl-0.5 text-[#6b7280] text-[0.7rem] dark:text-[#9ca3af]">{{FormatTimeLocal
                                .PublishedAt}}</span>
                            <p class="font-sans mt-2 mb-0 text-[0.82rem]">{{.Hook}}</p>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{- end -}}
