{{- template "web/html/layouts/root.tmpl.html" . -}}

{{- define "og" -}}
{{- template "web/html/helpers/_og_common.tmpl.html" . -}}
<meta property="og:title" content="Coolster Codes">
<meta property="og:description" content="It's easy as 001 010 011!">
<meta name="description" content="It's easy as 001 010 011!">
<meta property="og:url" content="{{.AbsoluteURL}}">
<link rel="canonical" href="{{.AbsoluteURL}}">
{{- end -}}

{{- define "title" -}}Coolster Codes{{- end -}}

{{- define "article_content" -}}

<div class="pt-4 pb-4 px-4">
    <h1 class="prose prose-lg font-normal font-serif text-center text-8xl tracking-tighter
                prose-a:text-white prose-a:no-underline">
        Welcome
    </h1>
</div>
<div class="mb-12 px-4">
    <div class="container max-w-[625px] mx-auto
            prose prose-lg
            prose-a:border-b-[1px] prose-a:border-slate-500 prose-a:font-sans prose-a:no-underline
            hover:prose-a:border-slate-200
            prose-p:text-center prose-p:italic
            ">
        <p>
            Pick a tag, any tag.
        </p>
    </div>
    <div class="container max-w-[800px] mx-auto mt-8 px-8 text-center" id="buttons">
        {{range .TopNTags}}
        <button id="{{.Tag}}" class="btn btn-blue" onclick="filterByTag('{{.Tag}}')">{{.Tag}}</button>
        {{end}}
        {{range .TopMTags}}
        <button id="{{.Tag}}" class="hidden md:inline-block btn btn-blue" onclick="filterByTag('{{.Tag}}')">{{.Tag}}</button>
        {{end}}
    </div>
</div>

<div class="container max-w-[800px] mx-auto mt-8 px-8">
    <div class="md:flex">
        <div class="pb-8 md:flex-grow md:min-w-0 md:pl-6 md:pr-6 prose-code:prose-pre:px-0 prose-code:prose-pre:py-0
                prose-code:bg-[#414242] prose-code:px-1 prose-code:py-0.5 prose-code:rounded">
            <ul class="clear-both mb-7">
                {{- range .Articles -}}
                <li class="filterTag {{range .Tags}}{{.}} {{end}} clear-both mb-7 mt-1.5 text-md text-white">
                    <div class="mb-2">
                        {{if .Image}}
                        <div class="w-[75px] aspect-square overflow-hidden relative float-left mr-4">
                            <a href="/{{.Slug}}">
                                <img src="{{.Image}}" class="w-full h-full object-cover object-center rounded-lg">
                            </a>
                        </div>
                        {{end}}
                        <a href="/{{.Slug}}"
                            class="text-myblue border-b-[1px] border-b-myblue font-semibold hover:border-b-sky-600 hover:text-sky-600">{{.Title}}</a>
                        <span
                            class="italic ml-0.5 text-gray-300 text-xs">{{FormatTime .PublishedAt "Jan 2, 2006"}}</span>
                        
                        {{if gt (len .TagCounts) 0}}
                        <div class="flex items-center pt-2">
                            {{range .TagCounts}}
                            <a class="italic bg-gray-700 rounded-md px-[5px] py-[2px] text-myblue text-sm hover:text-sky-600 mx-0.5"
                                href="/tags/{{.URLTag}}">#{{.Tag}}</a>
                            {{end}}
                        </div>
                        {{end}}

                    </div>
                    <p class="font-serif leading-7">{{.Hook}}</p>
                </li>
                {{- end -}}
            </ul>
        </div>
    </div>
</div>

{{- end -}}
