{{- template "html/layouts/article.tmpl.html" . -}}

{{- define "title" -}}Articles{{.TitleSuffix}}{{- end -}}

{{- define "article_content" -}}

<div class="mb-12 mt-0 px-4">
    <h1 class="font-normal font-serif my-4 text-center text-8xl text-proseLinks tracking-tighter dark:text-proseInvertLinks mt-0">
        Articles
    </h1>
    <div class="container max-w-[625px] mx-auto
                prose prose-lg dark:prose-invert
                prose-a:border-b-[1px] prose-a:border-slate-500 prose-a:font-sans prose-a:no-underline
                hover:prose-a:border-slate-200
                prose-p:text-center prose-p:italic
                ">
        <p>
            Pick a tag, any tag.
        </p>
    </div>
    <div class="container max-w-[800px] mx-auto mt-8 px-8 text-center" id="buttons">
        <button class="btn btn-blue" onclick="filterSelection('all')"> Show all</button>
        {{range $t, $arts := .TagMap}}
        <button class="btn" onclick="filterSelection('{{$t}}')"> {{$t}}</button>
        {{end}}
    </div>
</div>

<div class="container max-w-[800px] mx-auto mt-8 px-8">
    <div class="md:flex">
        <div class="pb-8 dark:border-slate-700 md:flex-grow md:min-w-0 md:pl-6 md:pr-6">
            <ul class="clear-both mb-9">
                {{- range .Articles -}}
                <li class="filterDiv {{range .Tags}}{{.}} {{end}} clear-both mb-9 mt-1.5 text-md text-proseBody dark:text-proseInvertBody">
                    {{if .HookImageURL}}
                    <a href="/{{.Slug}}">
                        <img src="{{.HookImageURL}}"
                            class="float-left mr-4 rounded-lg">
                    </a>
                    {{end}}
                    <div class="mb-2">
                        <a href="/{{.Slug}}"
                            class="border-b-[1px] border-b-slate-200 font-semibold text-proseLinks dark:text-proseInvertLinks dark:border-b-slate-700 hover:border-b-black dark:hover:border-b-proseInvertLinks">{{.Title}}</a>
                        <span
                            class="italic ml-0.5 text-slate-500 text-xs">{{FormatTime .PublishedAt "Jan 2, 2006"}}</span>
                    </div>
                    <p class="font-serif leading-7">{{.Hook}}</p>
                </li>
                {{- end -}}
            </ul>
        </div>
    </div>
</div>

{{- end -}}
